<div class="list-group">
  <a href="" class="list-group-item col-lg-4 col-xs-12">
    <h4 class="list-group-item-heading">总花费</h4>
    <p id='total' class="list-group-item-text"></p>
  </a>
  <a href="" class="list-group-item col-lg-4 col-xs-12">
    <h4 class="list-group-item-heading">总支出</h4>
    <p id="cost" class="list-group-item-text"></p>
  </a>
  <a href="" class="list-group-item col-lg-4 col-xs-12">
    <h4 class="list-group-item-heading">总利润</h4>
    <p id="profit" class="list-group-item-text"></p>
  </a>
</div>


<script type="text/javascript">
$(function(){
  $.ajax({
    url: "/admin/today-profit",
    method: "GET"
  }).success(function(result){
    if(!result.code && result.data){
      $("#total").html(result.data.total.toFixed(2))
      $("#cost").html(result.data.cost.toFixed(2))
      $("#profit").html(result.data.profit.toFixed(2))
    }
  }).fail(function(err){
    console.log(err)
  })
})

</script>