.g-body {
    word-wrap: break-word;
    font-size: 18px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444;
    margin: 0 auto;
    padding: 1px 10px;
}
.m-photo {
    background: url("/images/bg2.png") repeat scroll 0% 0% rgb(31, 34, 36);
}
.w-mbtn {
    background: url("/images/btn.png") no-repeat scroll 999px 999px transparent;
}
.w-icn {
    background: url("/images/icn.png") no-repeat scroll 999px 999px transparent;
}
.g-bd {
    margin: 30px 0px 0px;
}
.g-bd {
    background: none repeat scroll 0% 0% rgb(240, 240, 240);
}
.g-bdcc {
    overflow: hidden;
}
.g-bdcc blockquote p{
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}

.m-photo1 {
    position: relative;
}
.m-photo .photo {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 10px;
}
.m-photo .photo:last-child {
    margin: 0px;
}
.m-photo .photo img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
}
.m-photo-full .photo img {
    width: 100%;
    height: 100%;
}
.m-cnt {
    position: relative;
    z-index: 31;
    padding: 15px 30px 0px;
    line-height: 16px;
}
.m-cnt .author {
    margin: 0px 0px 10px;
}
.m-cnt .title {
    margin: 0px 0px 10px;
    font-size: 26px;
    line-height: 32px;
}
.m-cnt .text {
    overflow: hidden;
}
.m-cnt .text p,
.m-cnt .text blockquote {
    margin: 0px 0px 10px;
}
.m-cnt .text blockquote {
    padding: 0px 0px 0px 15px;
    border-left: 4px solid rgb(223, 223, 223);
}
.m-oprt {
    margin: 10px 0px 0px;
    font-size: 14px;
}
.m-oprt .more {
    margin: 26px 30px;
}
.m-oprt .tags {
    position: relative;
    height: 40px;
    overflow: hidden;
    margin: 10px 20px;
    padding-left: 28px;
    line-height: 40px;
}
.m-oprt .tags a {
    float: left;
    margin-left: 16px;
    white-space: nowrap;
    text-decoration: none;
    color: #83929d;
    text-shadow: 0 1px 0 #fff;
}
.m-oprt .tags .w-icn-bq {
    position: absolute;
    top: 0px;
    left: 0px;
}
.m-oprt .oprt {
    height: 58px;
    padding: 8px 30px 0px;
    line-height: 40px;
    background: none repeat scroll 0% 0% rgb(216, 216, 216);
}
.m-oprt .oprt .oprta {
    position: relative;
    z-index: 41;
    float: left;
}
.m-oprt .oprt .oprtb {
    position: relative;
    z-index: 41;
    float: right;
}
.m-oprt .oprt a {
    color: #888;
}
.m-oprt .oprt em {
    position: relative;
    float: left;
    height: 40px;
    margin: 0px 0px 0px 45px;
}
.m-oprt .oprt em:first-child {
    margin-left: 0px;
}
.m-oprt .oprt .num {
    position: relative;
    float: left;
    height: 40px;
    padding-left: 40px;
    white-space: nowrap;
    line-height: 30px;
}
.m-oprt .oprt .num span {
    margin-left: 6px;
}
.m-oprt .oprt .num .w-icn {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 0px;
}
.m-oprt .oprt .close {
    text-align: center;
}
.m-oprt .oprt .close a {
    float: none;
}
.m-list {
    font-size: 24px;
}
.m-list .list {
    position: relative;
    padding-top: 1px;
}
.m-list .more {
    margin: 15px 0px 32px;
    text-align: center;
    line-height: 45px;
}
.m-list .more a {
    margin: 0px 26px;
}
.m-add {
    padding: 20px 30px 30px;
}
.m-add .addbtn {
    margin: 20px 0px 0px;
}
.m-add .addbtn .tbu {
    float: left;
    padding-top: 15px;
    line-height: 40px;
}
.m-add .addbtn .tbu .w-check {
    float: left;
    margin-right: 18px;
}
.m-add .addbtn .tbu label {
    float: left;
}
.m-add .w-mbtn {
    float: right;
}
.w-ipt {
    position: relative;
    border: 1px solid rgb(150, 150, 150);
    font-size: 32px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.w-ipt textarea {
    display: block;
    width: 510px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    padding: 14px;
    border: 0px none;
    background: none repeat scroll 0% 0% transparent;
}
.w-ipt .area {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 510px;
    height: 0px;
}
.w-ipt .area .areain {
    display: block;
    width: 100%;
    line-height: 40px;
}
.w-ipt-area textarea {
    height: 80px;
}
.w-bbtn4 {
    display: block;
    height: 68px;
    line-height: 68px;
    border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2 #e2e2e2 #cacaca;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    text-align: center;
    font-size: 24px;
    color: #888;
    background: none repeat scroll 0% 0% rgb(228, 228, 228);
}
.w-mbtn {
    display: block;
    width: 170px;
    height: 70px;
    line-height: 70px;
    border: 0px none;
    text-align: center;
    font-size: 40px;
    color: #ecf9fa;
    background-position: 0px -90px;
}
.w-icn {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-indent: -20000px;
}
.w-icn-pl {
    background-position: 0px -132px;
}
.w-icn-zz {
    background-position: 0px -185px;
}
.w-icn-xh {
    background-position: 0px -235px;
    width: 42px;
}
.w-icn-bq {
    background-position: 0px -284px;
}
.w-icn-fx2 {
    background-position: 0px -1439px;
}
.w-check {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(150, 150, 150);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.f-dn {
    display: none;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@font-face {
  font-family: 'VideoJS';
  src: url('http://vjs.zencdn.net/f/1/vjs.eot');
  src: url('http://vjs.zencdn.net/f/1/vjs.eot?#iefix') format('embedded-opentype'),
    url('http://vjs.zencdn.net/f/1/vjs.woff') format('woff'),
    url('http://vjs.zencdn.net/f/1/vjs.ttf') format('truetype');
}

.m-oprt .oprt .oprtb em {
  font-size: 30px;
}

.m-oprt .oprt .oprtb em .glyphicon{
  font-size: 25px;
}