<!DOCTYPE html>
<!-- saved from url=(0042)http://weili.cmpower.cn/h5/lighten_gz/game -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>广州移动点亮羊城</title>
  <link rel="stylesheet" type="text/css" href="./广州移动点亮羊城_files/base.css">
  <link rel="stylesheet" type="text/css" href="./广州移动点亮羊城_files/h5_pop.css">
<style type="text/css"></style></head>
<body>
<div class="pr">
  <img src="./广州移动点亮羊城_files/bg.jpg" alt="">
  <div class="lty">
    <img id="lottery" src="./广州移动点亮羊城_files/lottery.png" alt="">
    <img class="lty_btn" src="./广州移动点亮羊城_files/lottery_btn.png" alt="">
  </div>
  <a class="rule_btn" href=""></a>
</div>

<!-- 抽奖规则 -->
<div class="rule none">
  <ul>
    <li>
      <em>活动时间</em>
      <p>即日起至2016年4月30日截止</p>
    </li>
    <li>
      <em>活动奖品</em>
      <p>100M/1G流量、半年期南方都市报报纸、中兴天机MAX手机</p>
    </li>
    <li>
      <em>活动规则</em>
      <p>（1）填写本人广州移动手机号码及完整小区信息，即可获得一次抽奖机会，每人仅限参与且中奖一次。</p>
      <p>（2）奖品随机抽取，数量有限，先到先得，送完即止。</p>
      <p>（3）逾期不兑奖，作自动放弃处理，不予补偿。</p>
      <p>（4）抽奖获得的100M或1G流量的用户请根据中奖页面指引兑换，其余抽奖奖品在活动结束后做统一发放。</p>
    </li>
    <li>
      <em>温馨提示</em>
      <p>参与人须确保其提供的个人信息准确无误（包括但不限于手机号码、住址信息、姓名等）。如因中奖者提供的个人信息不正确或不准确而导致礼品无法送达，其得奖资格将视作无效，不予补偿。</p>
      <p>*本次活动最终解释权归广州移动所有。</p>
    </li>
  </ul>
</div>


<!-- 填写信息 -->
<div class="fill none">
  <div class="fill_in">
    <img src="./广州移动点亮羊城_files/ipt_bg.png" alt="">
    <i class="fill_close"></i>
    <div class="fill_mn">

      <label for="tel">手机号码<b>*</b></label>
      <input name="tel" id="mobi" maxlength="11" placeholder="请输入您的手机号码" type="text">

      <label>家庭住址<b>*</b></label>
      <div class="down_list" id="areaList">
        <input type="text" placeholder="请选区域" readonly="" id="getArea">
      </div>区
      <div class="down_list" id="buildingList">
        <input type="text" placeholder="请填入小区名" id="getBuilding">
      </div>
      <input type="text" placeholder="请填入详细地址例如：南区3栋101" id="address">

      <div class="fill_btn"></div>
    </div>
  </div>
</div>

<!-- 中奖结果 -->
<div class="result ">
  <!-- 失败 -->
  <div class="fail  none">
    <p class="s_tt">很遗憾！<br>您与奖品擦肩而过</p>
    <img src="./广州移动点亮羊城_files/cry_girl.png" alt="">
  </div>

  <!-- 1g -->
  <div class="get_1g none">
    <p class="s_tt">恭喜您获得</p>
    <img src="./广州移动点亮羊城_files/1G.png" alt="">
    <p class="s_tip">兑奖方式：<br>关注广州移动官方微信<b>cmccgz</b>，回复“兑换”，领取奖品</p>
  </div>

  <!-- 100M -->
  <div class="get_100m ">
    <p class="s_tt">恭喜您获得</p>
    <img src="./广州移动点亮羊城_files/100M.png" alt="">
    <p class="s_tip">兑奖方式：<br>关注广州移动官方微信<b>cmccgz</b>，回复“兑换”，领取奖品</p>
  </div>

  <!-- 南方都市报 -->
  <div class="get_newspaper none">
    <p class="s_tt">恭喜您获得</p>
    <img src="./广州移动点亮羊城_files/newspaper.png" alt="">
    <p class="s_tip">兑奖方式：</p>
    <div class="s_ipt clear">
      <input id="newsName" type="text" placeholder="请登记您的姓名" value="">
      <span id="newsBtn">提交</span>
    </div>
    <p class="s_tip">请耐心等待南都工作人员与您联系！</p>
  </div>

  <!-- 中兴 -->
  <div class="get_zx none">
    <p class="s_tt">恭喜您获得</p>
    <img src="./广州移动点亮羊城_files/zx.png" alt="">
    <p class="s_tip">兑奖方式：</p>
    <div class="s_ipt s_ipt2 clear">
      <input type="text" id="zxName" placeholder="请登记您的姓名" value="">
      <input type="text" id="zxIdcard" placeholder="请登记您的身份证号" value="">
      <span id="zxBtn">提交</span>
    </div>
    <p class="s_tip">请耐心等待工作人员与您联系！</p>
  </div>

  <!-- 报装20元话费 -->
  <div class="more_gift none" id="userType1">
    <div class="mg_tt">
      <img src="./广州移动点亮羊城_files/gift_bg.png" alt="">
      <span>20元话费</span>
    </div>
    <div class="mg_mn">现在老客户推荐新客户成功报装，新老客户均可获20元话费！</div>
    <div class="mg_btn">
      <img src="./广州移动点亮羊城_files/y_btn.png" alt="">
      <a href="JavaScript:;" class="r_btn" id="shareType1">我要推荐</a>
    </div>
    <div class="mg_rule_btn" style="width: 100%;text-align: center; font-size:16px;color: #FFF;padding: 7px 0">活动规则</div>
    <div class="mg_rule" style="display: none;">
      <ul>
        <li>
          <em>活动时间</em>
          <p>即日起至2016年4月30日截止</p>
        </li>
        <li>
          <em>活动说明</em>
          <p>（1）移动光宽带老客户推荐广州移动新客户办理移动宽带，新客户通过广州移动官方微信报装宽带且安装成功后，新、老客户双方均可获得20元话费奖励，赠送话费于次次月底前到账。每位用户仅可获赠一次话费。</p>
          <p>（2）奖品数量有限，先到先得，送完即止。</p>
        </li>
        <li>
          <em>温馨提示</em>
          <p>填写手机号码需为广州移动号码，请务必填写正确，避免奖品发放失效。</p>
          <p>*本次活动最终解释权归广州移动所有。</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- 报装1G流量+50元话费 -->
  <div class="more_gift none" id="userType2">
    <div class="mg_tt">
      <img src="./广州移动点亮羊城_files/gift_bg.png" alt="">
      <span>1G流量+50元话费</span>
    </div>
    <div class="mg_mn">您的小区已覆盖中国移动光宽带，立即报装即可额外获得1G流量和50元话费！</div>
    <div class="mg_btn">
      <img src="./广州移动点亮羊城_files/y_btn.png" alt="">
      <a href="" alt="2" id="shareType2">我要报装</a>
    </div>
    <div class="mg_rule_btn" style="width: 100%;text-align: center; font-size:16px;color: #FFF;padding: 7px 0">活动规则</div>
    <div class="mg_rule" style="display: none;">
      <ul>
        <li>
          <em>活动时间</em>
          <p>即日起至2016年4月30日截止</p>
        </li>
        <li>
          <em>活动说明</em>
          <p>（1）参与“百兆宽带 点亮羊城”活动且立即在广州移动官方微信完成线上报装支付并成功安装，即可额外获赠1G流量及50元话费(以上流量、话费为本活动专属优惠，与在线报装且支付可得的20元话费为叠加优惠)。</p>
          <p>（2）赠送流量及话费于次次月底前返还。</p>
          <p>（3）奖品数量有限，先到先得，送完即止。</p>
          <p>（4）其余宽带报装规则详情以广州移动官方微信为准。</p>
        </li>
      </ul>
    </div>
  </div>

  <!-- 报装 6个月宽带体验 -->
  <div class="more_gift " id="userType3">
    <div class="mg_tt">
      <img src="./广州移动点亮羊城_files/gift_bg.png" alt="">
      <span>6个月宽带体验</span>
    </div>
    <div class="mg_mn">您的小区暂未覆盖移动光宽带,发动更多的小区邻居一起申请,我们将优先进驻。且如您2016年年底前完成报装，还可获得半年免费宽带！</div>
    <div class="mg_btn">
      <img src="./广州移动点亮羊城_files/y_btn.png" alt="">
      <a href="http://weili.cmpower.cn/h5/lighten_gz/crowdfunded" alt="3" id="shareType3">我要申请</a>
    </div>
    <div class="mg_rule_btn" style="width: 100%;text-align: center; font-size:16px;color: #FFF;padding: 7px 0">活动规则</div>
    <div class="mg_rule" style="display: none;">
      <ul>
        <li>
          <em>活动时间</em>
          <p>即日起至2016年4月30日截止</p>
        </li>
        <li>
          <em>活动说明</em>
          <p>（1）同一小区住户登记数达一定数量,可有机会优先建设。参与活动登记住户所在小区完成覆盖后,如于2016年12月31日前成功报装移动家庭光宽带,即可获得6个月宽带体验。</p>
          <p>（2）每参与活动客户只能对一个小区登记一次,并确认提交的信息无误,如输入手机号码无效或小区信息错误,将视为登记无效。登记信息通过审核后,页面的登记户数相应增加。</p>
          <p>（3）如因遇不可抗力因素无法完成光纤线路覆盖,请您谅解。</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 分享 -->
<div class="share_msg none">
  <img src="./广州移动点亮羊城_files/share.png" alt="">
</div>
<input type="hidden" value="13828461983" id="hidden_mobi">
<script src="./广州移动点亮羊城_files/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./广州移动点亮羊城_files/h5_pop.js"></script>
<script type="text/javascript" src="./广州移动点亮羊城_files/base.js"></script>


        <script type="text/javascript" src="./广州移动点亮羊城_files/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
        wx.config({
            debug: false,
            appId: "wxa856bd82a326b3c2",
            timestamp: 1459740867,
            nonceStr: "9gxZ068GRGIYHBk4",
            signature: "34bc6df5d3b4aa934228c780b367254391ea38ba",
            jsApiList: [ "onMenuShareTimeline", "onMenuShareAppMessage", "onMenuShareQQ", "onMenuShareWeibo", "hideOptionMenu", "showOptionMenu" ]
        });
        </script><script>
    var title = "和我一起点亮羊城，抽大奖还送宽带哦！";
    var desc = "移动宽带实惠多，百兆宽带同分享";
  var imgUrl = "http://weili.cmpower.cn/static/css/main/h5/lighten_gz/images/share_pic.jpg";
  var lineLink = "http://weili.cmpower.cn/h5/lighten_gz/index?origin=light_gz_weixin&mobi=13828461983&referer=CIRCLE&share_uuid=a9db608b379dd3395fe2f24a00639b35";

  wx.ready(function () {

    // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareAppMessage({
      title: title,
      desc: desc,
      link: lineLink,
      imgUrl: imgUrl,
      success: function (res) {
        $.post("http://weili.cmpower.cn/h5/lighten_gz/success_share_app_message", {
          type: "1",
          share_url:"http://weili.cmpower.cn/h5/lighten_gz/index?origin=light_gz_weixin&mobi=13828461983&referer=CIRCLE&share_uuid=a9db608b379dd3395fe2f24a00639b35"
        });
      },
      cancel: function (res) {
      }
    });
    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareTimeline({
      title: title,
      link: lineLink,
      imgUrl: imgUrl,
      success: function (res) {
        $.post("http://weili.cmpower.cn/h5/lighten_gz/success_share_app_message", {
          type: "2",
          share_url:"http://weili.cmpower.cn/h5/lighten_gz/index?origin=light_gz_weixin&mobi=13828461983&referer=CIRCLE&share_uuid=a9db608b379dd3395fe2f24a00639b35"
        });
      },
      cancel: function (res) {
      }
    });
  });

    //总是显示微信右上角按钮
    // document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    //     WeixinJSBridge.call('showOptionMenu');
    // });
</script>





</body></html>