<div class="row">
  {{#each timelist }}
    <a href="javascript:void(0);" data-date="{{ this }}" class="timelist col-md-1 col-sm-6 btn btn-default btn-xs">
      {{ this }}
    </a>
  {{/each}}
</div>

<script type="text/javascript">
$(document).ready(function(){
  $(document).on("click", ".timelist", function(){
    var $this = $(this),
        $timelist = $(".timelist")
    $(".timelist.btn-primary").removeClass("btn-primary").addClass("btn-default")
    $this.removeClass("btn-default").addClass("btn-primary")
    $.ajax({
      url: "/admin//sale-report",
      method: "GET",
      data: {
        date: $(".timelist.btn-primary").data("date")
      }
    }).done(function(result){
      console.log(result)
    }).fail(function(err){
      console.log(err)
    })
  })
})
</script>