<div class="row">
  {{#each timelist }}
    <a href="javascript:void(0);" data-date="{{ this }}" class="timelist col-md-1 col-sm-6 btn btn-default btn-xs">
      {{ this }}
    </a>
  {{/each}}
</div>
<canvas id="myChart" width="800" height="800"></canvas>

<script type="text/javascript">
$(document).ready(function(){
  $(".timelist").last().trigger("click")
})
</script>